* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la ventana */
}

.products_list {
    display: flex;
    overflow: hidden;
    width: 100vw; /* Asegura que el contenedor ocupe el 100% del ancho de la ventana */

}

img {
    flex-grow: 1; /* Todas las imágenes crecen equitativamente */
    width: 12.5%;
    height: 80vh;
    object-fit: cover;
    transition: all ease 1s;
    flex-shrink: 0; /* Evita que las imágenes se encojan más allá de su tamaño calculado */

}

img:hover {
    width: 40% ;
    cursor: pointer;
}

.products_list:hover img:not(:hover) {
    width: calc((100% - 40%) / 7); /* Las demás imágenes se hacen más pequeñas */
    opacity: 0.5; /* Disminuye la opacidad */
}

.content_listItems {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Añade un margen superior para separar del área de imágenes */
}

.content_listItems > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #3f25ff;
}


.category_list {
    display: flex;
    justify-content: center; /* Centra horizontalmente los enlaces */
    gap: 28px; /* Espacio entre los enlaces */
}

.category_list a {
    text-decoration: none;
    color: #6459b9;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    border: 1.6px solid #3f25ff;
    border-radius: 5px;
    transition: background-color 0.7s;
}


.category_list a:hover {
    background-color: #3f25ff;
    color: #fff;
}

.category_list .ct_item-active {
    background-color: #7f78b6;  
    color: #fff; 
}


